html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000000;
}
.karora_ar{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

button{
    border-radius: 10px;
}

/* KARTYA */
.card{
    border: 1px solid;
    border-radius: 30px;
    box-shadow: 2px 2px 5px black;
}

.card-reszleg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 380px;
    display: inline-flex;
    margin: 25px;
}

.card-reszleg:hover{
    transform: translateY(-20px);
    transition: .2s;
    box-shadow: 5px 5px 10px black;
}

.card:not(:hover){
    transition: 0.2s;
    transform: scale(1);
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background:none;
}

/*OLDAL CIME*/
#kollekcio{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.reszleg, .oldalmenu{
    margin-top: 50px;
}

.card-szures{
    margin-top: 150px;
}

.btn-success{
    border-radius: 15px;
    padding: 3px;
    margin: 0;
}

.karora_ar{
    justify-content: space-between;
}

/*FEJLÉC*/
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 1px 1px 3px black;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    color: black;
  }
  
  .header-center a:hover{
    background-color: #ddd;
    color: black;
  }

  /* Style the active/current link*/
  .header a.active {
    background-color: rgb(67, 79, 90);
    color: white;
  }
  
  /* Float the link section to the right */
  .header-center{
    display: flex;
    text-align: center;
    justify-content:center;
  }
  .header-right{
    float: right;
    position: relative;
    padding: 10px;
    margin-right: 20px;
    margin-top: -33px;

}
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

/* BEJELENTKEZES*/
#Svajci_login{
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    z-index: 500;
    box-sizing: content-box;
}

#Svajci_login, #Svajci_login_ikon h3 span{
    position: absolute;
    display: flex;
    justify-content: center;
}

#Svajci_login h3{
    color: #000000;
}

#Svajci_login, #Svajci_login_ikon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

#Svajci_login_ikon{
    position: absolute;
    margin: 0;
    padding: 0;
    
}

/* FOOTER */
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 220px;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 10px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.elerhetoseg{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.elerhetoseg li{
    margin: 0 10px;
}

.elerhetoseg a{
    text-decoration: none;
    color: #fff;
}

.elerhetoseg a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}

.elerhetoseg a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}